html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

@media only screen and (min-width:900px ) {
	.main-container {
	width: 12vw;
	height: 20vh;
	background-color: darkgrey;
	margin-left: 12vw;
	
}

.window {
	background: #29467A;
	outline: 12px solid #2D2623;
	border: solid #439ABF;
	border-width: 0px 5px;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 6em auto 1em;
	width: 260px;
	height: 390px;
}

.moon-container {
	position: relative;
	top: 2em;
	left: 2em;
}

.moon {
	width: 80px;
	height: 80px;
	background: transparent;
	border-radius: 50px;
	box-shadow: -15px 8px 0 1px #e8ae4a;
	position: absolute;
	left: 3em;
	top: 2em;
}

.star {
	width: 7px;
	height: 7px;
	border-radius: 50px;
	background: #E8AE4A;
	position: absolute;
}

@keyframes twinkle {
	50% {
		box-shadow: 0 0 15px 3px rgba(232, 174, 74, 0.5);
	}
}

.st1 {
	bottom: 230px;
	left: 30px;
	animation: twinkle 2s infinite;
	animation-delay: 11s;
}

.st2 {
	bottom: 145px;
	left: 150px;
	animation: twinkle 2s infinite;
	animation-delay: 5s;
}

.st3 {
	bottom: 120px;
	left: 40px;
	animation: twinkle 2s infinite;
	animation-delay: 6s;
}

.st4 {
	bottom: 350px;
	left: 220px;
	animation: twinkle 2s infinite;
	animation-delay: 7s;
}

.st5 {
	bottom: 340px;
	left: 120px;
	animation: twinkle 2s infinite;
	animation-delay: 8s;
}

.st6 {
	bottom: 235px;
	left: 200px;
	animation: twinkle 2s infinite;
	animation-delay: 2s;
}

.central-dash {
	width: 280px;
	height: 12px;
	background: #2D2623;
	position: absolute;
	bottom: 0;
	top: 0;
	margin: auto -1em;
}

.central-dash::before {
	content: ' ';
	width: 250px;
	height: 5px;
	background: #439ABF;
	position: absolute;
	bottom: 100%;
	left: 1em;
}

.bottom-dash {
	width: 316px;
	height: 12px;
	background: #2D2623;
	position: absolute;
	top: 100%;
	margin: 0 -2em;
	z-index: 1;
}

.bottom-dash::before,
.bottom-dash::after {
	/*content: ' ';*/
	width: 316px;
	height: 4px;
	background: #29467A;
	position: absolute;
	bottom: 100%;
	z-index: 1;
}

.bottom-dash::after {
	background: #439ABF;
	width: 285px;
	left: 15px;
}

.body {
	height: 125px;
	width: 50px;
	border-radius: 40px 40px 0 0;
	background: #2D2623;
	position: absolute;
	bottom: 0;
	left: 35%;
	z-index: 1;
}

.butt {
	background: #2D2623;
	height: 80px;
	width: 40px;
	border-radius: 0 80px 80px 0;
	position: absolute;
	bottom: -3%;
	left: 53%;
	z-index: 1;
}

.ear-left {
	height: 0;
	width: 0;
	border-bottom: 40px solid #2d2623;
	border-right: 33px solid transparent;
	position: absolute;
	bottom: 100px;
	left: 88px;
}

.ear-right {
	height: 0;
	width: 0;
	border-bottom: 40px solid #2d2623;
	border-left: 33px solid transparent;
	position: absolute;
	bottom: 100px;
	left: 105px;
}

.tail {
	background-color: #2D2623;
	height: 80px;
	width: 10px;
	border-radius: 5px;
	position: absolute;
	top: 100%;
	left: 58%;
	transform-origin: top;
	transform: rotate(-15deg);
	animation: tail 4s infinite;
}

@keyframes tail {
	50% {
		transform: rotate(10deg);
	}
}

.mount {
	height: 0;
	width: 0;
	border-bottom: 60px solid #22366D;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	position: absolute;
	bottom: 0;
}

.mt1 {
	height: 0;
	width: 0;
	border-bottom: 60px solid #22366D;
	border-right: 20px solid transparent;
	position: absolute;
	bottom: 0;
	left: 0;
}

.mt2 {
	left: 2.5%;
	bottom: -.7em;
	z-index: 0;
}

.mt3 {
	left: 35px;
}

.mt4 {
	left: 78%;
}

.mt5 {
	height: 0;
	width: 0;
	border-bottom: 60px solid #22366D;
	border-left: 20px solid transparent;
	position: absolute;
	bottom: 0;
	right: 0;
}

}
@media only screen and (max-width: 900px) {
	
.main-container {
	width: 12vw;
	height: 20vh;
	background-color: darkgrey;
	margin-left: 1.2vw;
	
}

.window {
	background: #29467A;
	outline: 1.2vw solid #2D2623;
	border: solid #439ABF;
	border-width: 0vw 0.5vw;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 6vh auto 1vh;
	width: 26vw;
	height: 39vw;
}

.moon-container {
	position: relative;
	top: 2em;
	left: 2em;
}

.moon {
	width: 8vw;
	height: 8vw;
	background: transparent;
	border-radius: 5vw;
	box-shadow: -1.5vw 0.8vw 0 1vw #e8ae4a;
	position: absolute;
	left: 3em;
	top: 2em;
}

.star {
	width: 0.7vw;
	height:0.7vw;
	border-radius: 5vw;
	background: #E8AE4A;
	position: absolute;
}

@keyframes twinkle {
	50% {
		box-shadow: 0 0 15vw 3vw rgba(232, 174, 74, 0.5);
	}
}

.st1 {
	bottom: 23vw;
	left: 30vw;
	animation: twinkle 2s infinite;
	animation-delay: 11s;
}

.st2 {
	bottom: 15vw;
	left: 20vw;
	animation: twinkle 2s infinite;
	animation-delay: 5s;
}

.st3 {
	bottom: 12vw;
	left: 4vw;
	animation: twinkle 2s infinite;
	animation-delay: 6s;
}

.st4 {
	bottom: 35vw;
	left: 22vw;
	animation: twinkle 2s infinite;
	animation-delay: 7s;
}

.st5 {
	bottom: 34vw;
	left: 12vw;
	animation: twinkle 2s infinite;
	animation-delay: 8s;
}

.st6 {
	bottom: 23.5vw;
	left: 20vw;
	animation: twinkle 2s infinite;
	animation-delay: 2s;
}

.central-dash {
	width: 28vw;
	height: 1.2vw;
	background: #2D2623;
	position: absolute;
	bottom: 0;
	top: 0;
	margin: auto -1em;
}

.central-dash::before {
	content: ' ';
	width: 25vw;
	height: 0.5vw;
	background: #439ABF;
	position: absolute;
	bottom: 100%;
	left: 1em;
}

.bottom-dash {
	width: 31vw;
	height: 1.2vw;
	background: #2D2623;
	position: absolute;
	top: 100%;
	margin: 0 -2em;
	z-index: 1;
}

.bottom-dash::before,
.bottom-dash::after {
	/*content: ' ';*/
	width: 31vw;
	height: 0.4vw;
	background: #29467A;
	position: absolute;
	bottom: 100%;
	z-index: 1;
}

.bottom-dash::after {
	background: #439ABF;
	width: 28vw;
	left: 1.5vw;
}

.body {
	height: 12vw;
	width: 5vw;
	border-radius: 4vw 4vw 0 0;
	background: #2D2623;
	position: absolute;
	bottom: 0;
	left: 35%;
	z-index: 1;
}

.butt {
	background: #2D2623;
	height: 8vw;
	width: 4vw;
	border-radius: 0 8vw 8vw 0;
	position: absolute;
	bottom: -3%;
	left: 53%;
	z-index: 1;
}

.ear-left {
	height: 0;
	width: 0;
	border-bottom: 4vw solid #2d2623;
	border-right: 3vw solid transparent;
	position: absolute;
	bottom: 10vw;
	left: 8.7vw;
}

.ear-right {
	height: 0;
	width: 0;
	border-bottom: 4vw solid #2d2623;
	border-left: 3vw solid transparent;
	position: absolute;
	bottom: 10vw;
	left: 10vw;
}

.tail {
	background-color: #2D2623;
	height: 8vw;
	width: 1vw;
	border-radius: 0.5vw;
	position: absolute;
	top: 100%;
	left: 58%;
	transform-origin: top;
	transform: rotate(-15deg);
	animation: tail 4s infinite;
}

@keyframes tail {
	50% {
		transform: rotate(10deg);
	}
}

.mount {
	height: 0;
	width: 0;
	border-bottom: 6vw solid #22366D;
	border-right: 2vw solid transparent;
	border-left: 2vw solid transparent;
	position: absolute;
	bottom: 0;
}

.mt1 {
	height: 0;
	width: 0;
	border-bottom: 6vw solid #22366D;
	border-right: 2vw solid transparent;
	position: absolute;
	bottom: 0;
	left: 0;
}

.mt2 {
	left: 2.5%;
	bottom: -.7em;
	z-index: 0;
}

.mt3 {
	left: 3.5vw;
}

.mt4 {
	left: 78%;
}

.mt5 {
	height: 0;
	width: 0;
	border-bottom: 6vw solid #22366D;
	border-left: 2vw solid transparent;
	position: absolute;
	bottom: 0;
	right: 0;
}
}



.mt6 {
	left: 65%;
	bottom: -.7em;
}

@font-face {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url(https://fonts.gstatic.com/s/amaticsc/v15/TUZ3zwprpvBS1izr_vOMscGKerUC7WQ.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


/* hebrew */

@font-face {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url(https://fonts.gstatic.com/s/amaticsc/v15/TUZ3zwprpvBS1izr_vOMscGKfLUC7WQ.woff2) format('woff2');
	unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}


/* vietnamese */

@font-face {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url(https://fonts.gstatic.com/s/amaticsc/v15/TUZ3zwprpvBS1izr_vOMscGKcbUC7WQ.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}


/* latin-ext */

@font-face {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url(https://fonts.gstatic.com/s/amaticsc/v15/TUZ3zwprpvBS1izr_vOMscGKcLUC7WQ.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url(https://fonts.gstatic.com/s/amaticsc/v15/TUZ3zwprpvBS1izr_vOMscGKfrUC.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}